<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your hisaab</title>
    <link rel="stylesheet" href="/css/create.css">

</head>
<body>
    <nav>
        <div class="logo-name"><a href="/">Khatabook</a></div>

        <div class="right-nav">
            <div class="home"><a href="/">Home</a></div>
            <div class="cretae-hisaab"><a href="/create">Create New Hisaab</a></div>
        </div>
    </nav>

    <div class="hisaab">Create Your Hisaab</div>

    <div class="writting-area">
        <form class="wrtng" action="/" method="post">
            <textarea class="writing-place" name="text" rows="31" cols="83" placeholder="Write something here...."></textarea>
            <input type="submit" class="wrtng-btn" value="Create Hisaab">
        </form>
    </div>
</body>
</html>
